<div>
    <div class="row" style="padding-top: 10vh;">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search homes...">
                </div>
            </form>
        </div>
        <div class="col-md-4 col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
       <div class="row">
           <div class="col-12">
               <div class="card" style="width: 100%; padding-top: 5vh;">
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item">Cras justo odio</li>
                       <li class="list-group-item">Dapibus ac facilisis in</li>
                       <li class="list-group-item">Vestibulum at eros</li>
                   </ul>
               </div>
           </div>
       </div>
</div>
